.i-phone13143-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.i-phone13143i-phone13143 {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(0, 0, 0, 1);
}
 
.i-phone13143-edwardian-entrance-door-london-door-company1 {
  top: 85px;
  left: 0px;
  width: 390px;
  height: 649px;
  position: absolute;
}
 
.i-phone13143-group1 {
  top: 753px;
  left: 162px;
  width: 66px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone13143-ellipse282 {
  top: 0px;
  left: 0px;
  width: 66px;
  height: 66px;
  opacity: 0.65;
  position: absolute;
}
 
.i-phone13143-ellipse283 {
  top: 26px;
  left: 339px;
  width: 34px;
  height: 34px;
  opacity: 0.52;
  position: absolute;
}
 
.i-phone13143-ellipse284 {
  top: 26px;
  left: 22px;
  width: 34px;
  height: 34px;
  opacity: 0.52;
  position: absolute;
}
 
.i-phone13143-close {
  top: 31px;
  left: 344px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.i-phone13143-image4 {
  top: 31px;
  left: 32px;
  width: 14px;
  height: 24px;
  position: absolute;
}
 
.i-phone13143-text1 {
  top: 775px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Jost;
  font-weight: 500;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13143-text2 {
  top: 775px;
  left: 268px;
  color: rgba(255, 255, 255, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Jost;
  font-weight: 500;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13143-image10-doorway-no29-avenue-rapp1901-parisby-jules-laviro {
  top: 84px;
  left: -45px;
  width: 488px;
  height: 650px;
  position: absolute;
}
