.i-phone13144-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.i-phone13144i-phone13144 {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(241, 240, 236, 1);
}
 
.i-phone13144-image10-doorway-no29-avenue-rapp1901-parisby-jules-laviro {
  top: 55px;
  left: -25.349882125854492px;
  width: 441px;
  height: 382px;
  position: absolute;
}
 
.i-phone13144-text10 {
  margin-left: 50px;
  top: 492px;
  left: 39px;
  color: rgba(106, 94, 94, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Jost;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13144-text11 {
  top: 536px;
  left: 39px;
  color: rgba(106, 94, 94, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Jost;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13144-text12 {
  top: 580px;
  left: 39px;
  color: rgba(106, 94, 94, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Jost;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13144-text13 {
  top: 624px;
  left: 39px;
  color: rgba(106, 94, 94, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Jost;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13144-text14 {
  top: 668px;
  left: 39px;
  color: rgba(106, 94, 94, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Jost;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13144-rectangle7 {
  top: 488px;
  left: 133px;
  width: 213px;
  height: 25px;
  position: absolute;
  border-radius: 83px;
}
 
.i-phone13144-rectangle12 {
  top: 488px;
  left: 133px;
  width: 164px;
  height: 25px;
  position: absolute;
  border-radius: 83px;
}
 
.i-phone13144-rectangle8 {
  top: 532px;
  left: 133px;
  width: 213px;
  height: 25px;
  position: absolute;
  border-radius: 83px;
}
 
.i-phone13144-rectangle13 {
  top: 532px;
  left: 133px;
  width: 51px;
  height: 25px;
  position: absolute;
  border-radius: 83px;
}
 
.i-phone13144-rectangle9 {
  top: 576px;
  left: 133px;
  width: 213px;
  height: 25px;
  position: absolute;
  border-radius: 83px;
}
 
.i-phone13144-rectangle10 {
  top: 620px;
  left: 133px;
  width: 213px;
  height: 25px;
  position: absolute;
  border-radius: 83px;
}
 
.i-phone13144-rectangle11 {
  top: 664px;
  left: 133px;
  width: 213px;
  height: 25px;
  position: absolute;
  border-radius: 83px;
}
 
.i-phone13144-text15 {
  top: 493px;
  left: 139px;
  color: rgba(106, 94, 94, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Jost;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13144-text16 {
  top: 537px;
  left: 139px;
  color: rgba(106, 94, 94, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Jost;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13144-rectangle6 {
  top: 740px;
  left: 91px;
  width: 208px;
  height: 43px;
  position: absolute;
  border-radius: 83px;
}
 
.i-phone13144-text17 {
  top: 581px;
  left: 139px;
  color: rgba(106, 94, 94, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Jost;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13144-text18 {
  top: 625px;
  left: 139px;
  color: rgba(106, 94, 94, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Jost;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13144-text19 {
  top: 669px;
  left: 139px;
  color: rgba(106, 94, 94, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Jost;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13144-text20 {
  top: 752px;
  left: 122px;
  color: rgba(106, 94, 94, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Jost;
  font-weight: 500;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}

.result-margin {
  margin-left: 90px;
}