.i-phone13142-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.i-phone13142i-phone13142 {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(241, 240, 236, 1);
}
 
.i-phone13142-doorsfrom-bruges-belgiumbyfmphotographyon500px1 {
  top: 0px;
  left: -3px;
  width: 396px;
  height: 338px;
  position: absolute;
}
 
.i-phone13142-text1 {
  top: 381px;
  left: 63px;
  color: rgba(106, 94, 94, 1);
  width: 264px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Bold;
  text-align: center;
  font-family: Jost;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13142-text2 {
  top: 477px;
  left: 50px;
  color: rgba(106, 94, 94, 1);
  width: 289px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Jost;
  font-weight: 500;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13142-ellipse279 {
  top: 564px;
  left: 163px;
  width: 10px;
  height: 10px;
  position: absolute;
}
 
.i-phone13142-ellipse280 {
  top: 564px;
  left: 190px;
  width: 10px;
  height: 10px;
  position: absolute;
}
 
.i-phone13142-ellipse281 {
  top: 564px;
  left: 216px;
  width: 10px;
  height: 10px;
  position: absolute;
}
 
.i-phone13142-rectangle6 {
  top: 689px;
  left: 91px;
  width: 208px;
  height: 63px;
  position: absolute;
  border-radius: 83px;
}
 
.i-phone13142-text3 {
  top: 709px;
  left: 110px;
  color: rgba(255, 255, 255, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Jost;
  font-weight: 500;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone13142-text4 {
  top: 775px;
  left: 127px;
  color: rgba(0, 0, 0, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Medium;
  text-align: center;
  font-family: Jost;
  font-weight: 500;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
